<style>

        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
        }
        .main-header-page-menu-inner a {
            text-align: center;
        }
        
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;
        }

        .main-header-page-menu-inner {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
            padding: 5px;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
            color: lightskyblue;
            text-decoration: none;
            background: rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(4px);
            border-radius: 5px;
        }
        .course-selection-container {
            box-shadow: none;
            background: transparent;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 5px;
            margin-top: 20px;
        }
        .student-course {
            box-shadow: none;
                position: relative;
                max-height: auto;
                max-width: 300px;
                min-height: 300px;
                min-width: 300px;
                margin-left: 5px;
                margin-bottom: 10px;
                border-radius: 8px;
                overflow: hidden;
                padding: 0;
        }
        .course-background-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -20;
            width: 100%;
            height: 300px;
            min-width: 100%;
            border-radius: 8px;
            background: transparent;

        }
        .course-background-image img {
            width: 100%;
        }
        .course-header {
            background:rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(4px);
            border-bottom: outset 2px lightskyblue;
            padding: 10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .course-stats {
            color: #fff;
            padding: 10px;
            backdrop-filter: blur(4px);
            background: rgba(135, 206, 250, 0.25);
            border-bottom: outset 1px lightskyblue;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
        .classes {
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(4px);
            padding: 10px;
            overflow-y: scroll;
        }
        .classes h5 {
            padding: 3px;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .classes ol {
            list-style-type: upper-roman;
            margin-left: 15px;
        }
        .classes li {
            color: #fff;
            padding: 5px;
        }
        .classes a {
            text-decoration: none;
            color: lightskyblue;
        }
        .go-to-course {
            width: 90%;
            margin-left: 7.5%;
            display: inline-flex;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        
        .go-to-course p {
            width: 40%;
            background: rgba(0, 128, 0, 0.25);
            backdrop-filter: blur(4px);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border: outset 1px green;
            box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.445);
            border-bottom: none;
            padding: 5px;
            color: #fff;
            margin-bottom: 0;
            text-align: center;
        }
        .go-to-course a {
            color: #fff;
            text-decoration: none;
        }
        .go-to-course form {
            width: 40%;
            margin-left: 10%;
            position: relative;
        }
        .go-to-course button {
            background: rgba(0, 128, 0, 0.25);
            backdrop-filter: blur(4px);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border: outset 1px green;
            box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.445);
            border-bottom: none;
            color: #fff;
            height: 100%;
        }
    
</style>

<%- include('partials/mainHeaderSiteMenu') %>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/academy">Your Desk</a>
            <a href="/academy/courses">All Courses</a>
            <a href="/notebooks">Your Notebooks</a>
            <a href="/tools/dictionary">Dictionary</a>
            <a href="/tools/encyclopedia">Encyclopedia</a>
            <a href="/tools/calculator">Calculator</a>

        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>


<div class="course-selection-container">
<% courses.forEach(function(course){ %>
    <div class="student-course">
        <div class="course-background-image">
            <img src="/image/<%= course.background_image %>" alt="">
        </div>
        <div class="course-header">
            <h2><%= course.course %></h2>
            <h5><%= course.subject %></h5>
        </div>
        <div class="course-stats">
            <p>Difficulty: <%= course.difficulty %></p>
            <p>Credits: <%= course.credit_value %></p>
            <% if (course.current_grade != null) { %>
            <p>Current Grade: <%= course.current_grade %>%</p>
            <% } else { %>
                <span style="display: none;"></span>
            <% } %>
        </div>
        <div class="classes">
            <h5>Classes</h5>
            <ol>
                <% course.classes.forEach(function(className) { %>
                    <li><a href="/academy/courses/<%= course.id %>/<%= className.id %>"><%= className.name %></a></li>
                <% }) %>
            </ol>
        </div>
        <div class="go-to-course">
            <p><a href="/academy/courses/<%= course.id %>">Go to Class</a></p>
            
                <form action="/academy/courses/<%= course.id %>/add-course?_method=PATCH" method="POST">
                    <input type="text" value="<%= course.id %>" name="courseId" hidden="true">
                    <button type="submit">Add Course</button>
                </form>
        </div>
    </div>
<% }); %>
</div>