<style>
    .colors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content:space-around;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        width: 80%;
    }
    .color {
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 10px;
        border: outset 1px #000;
    }

    .red {
        background: rgba(255, 0, 0, 0.75);
    }
    .dark-blue {
        background: #3300b2;
    }
    .blue {
        background: rgba(0, 0, 255, 0.75);
    }
    .light-blue {
        background: #497df2;
    }
    .teal {
        background: #49e9f2;
    }
    .green {
        background: rgba(0, 128, 0, 0.75);
    }
    .lime {
        background: #5ED928;
    }
    .yellow {
        background: rgba(255, 255, 0, 0.75);
    }
    .pink {
        background: #ee82ee;
    }
    .peach {
        background: #ffceb2;
    }
    .orange {
        background: #ffa500;
    }
    .gold {
        background: #ffc900;
    }
    .purple {
        background: #6a5acd;
    }
    .dark-purple {
        background: #98009c;
    }
    .brick {
        background: #aa3720;
    }
    .tan {
        background: #aa8620;
    }
    .silver {
        background: #888;
    }
    .grey {
        background: #444;
    }
    .black {
        background: #111;
    }
</style>

<form action="/notebooks/<%= notebook.id %>/edit?_method=PATCH" method="post">
    <input type="text" name="notebookName" value="<%= notebook.notebookName %>">
    <textarea name="notebookDescription"><%= notebook.notebookDescription %></textarea>
        <div class="colors">
            <div class="color red">
                <input type="radio" name="notebookColor" value="#ff0000">Red
            </div>
            <div class="color dark-blue">
                <input type="radio" name="notebookColor" value="#3300b2">Navy
            </div>
            <div class="color blue">
                <input type="radio" name="notebookColor" value="#0000ff">Blue
            </div>
            <div class="color light-blue">
                <input type="radio" name="notebookColor" value="#497df2">Cobalt
            </div>
            <div class="color teal">
                <input type="radio" name="notebookColor" value="#49e9f2">Teal
            </div>
            <div class="color green">
                <input type="radio" name="notebookColor" value="#3cb371">Green
            </div>
            <div class="color lime">
                <input type="radio" name="notebookColor" value="#5ED928">Lime
            </div>
            <div class="color yellow">
                <input type="radio" name="notebookColor" value="#ffde00">Yellow
            </div>
            <div class="color pink">
                <input type="radio" name="notebookColor" value="#ee82ee">Pink
            </div>
            <div class="color peach">
                <input type="radio" name="notebookColor" value="#ffceb2">Peach
            </div>
            <div class="color orange">
                <input type="radio" name="notebookColor" value="#ffa500">Orange
            </div>
            <div class="color gold">
                <input type="radio" name="notebookColor" value="#ffc900">Gold
            </div>
            <div class="color purple">
                <input type="radio" name="notebookColor" value="#6a5acd">Purple
            </div>
            <div class="color dark-purple">
                <input type="radio" name="notebookColor" value="#98009c">Dark Purple
            </div>
            <div class="color brick">
                <input type="radio" name="notebookColor" value="#aa3720">Brick
            </div>
            <div class="color tan">
                <input type="radio" name="notebookColor" value="#aa8620">Tan
            </div>
            <div class="color silver">
                <input type="radio" name="notebookColor" value="#888">Silver
            </div>
            <div class="color grey">
                <input type="radio" name="notebookColor" value="#444">Grey
            </div>
            <div class="color black">
                <input type="radio" name="notebookColor" value="#111">Black
            </div>
        </div>
    <input type="text" name="notebookTags" value="<%= notebook.notebookTags[0] %>">
    <input type="text" name="notebookTags" value="<%= notebook.notebookTags[1] %>">
    <input type="text" name="notebookTags" value="<%= notebook.notebookTags[2] %>">
    <input type="text" name="notebookTags" value="<%= notebook.notebookTags[3] %>">
    <button type="submit">Update Note</button>
</form>